body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: black;
}
.section{
    width: 1440px;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.header{
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-menu{
    margin-right: auto;
}
.logo{
    margin-right: 8px;
}
.menu{
    list-style: none;
    margin: 0;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
}
.menu-item:not(:last-child){
    margin-right: 32px;
}
.menu-link{
    text-decoration: none;
    color: inherit;
}
.button{
    text-decoration: none;
    display: inline-block;
    padding: 10px 19px;
    cursor: pointer;
    border-radius: 6px;
}
.button-primary{
    color: inherit;
}
.button-secondary{
    background: black;
    border-radius: 6px;
    color: white;
}
.button-watch{
    color: inherit 
}
.button-start{
    background: white;
    border-radius: 6px;
    color: black;
}
.main-section{
    background: url('../img/Rectangle.jpg') no-repeat center center;
    
    height: 800px;
}
.main-title{
    margin-top: 122px;
    margin-bottom: 43px;
    font-size: 76px;
    line-height: 76px;
}
.description{
    width: 710px;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 51px;
}
.button{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
.button-start{
    margin-right: 57px;
}
.web-img{
    height: 700px;
    position: relative;
}
.webfront{
    position: absolute;
    margin-left: 19px;
    margin-right: 269px;
    transform: translateY(-133px);
    z-index: 29;
}
.webback{
    position: absolute;
    margin-left: 374px;
    margin-right: 67px;
    z-index: 8;
    transform: translateY(-90px)
}
.companies{
    text-align: center;
    margin-top: 77px;
}
.companies-text{  
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 51px;
}
.icons:not(:last-child){
    margin-right: 96px;
}
.design_container{
    display: flex;
    justify-content: space-between;
    margin-top: 188px;
}
.design_column{
    width: 588px;
}
.design_title{
    font-size: 32px;
    line-height: 36px;
    margin-top: 15px;
}
.design_text{
    font-size: 17px;
    line-height: 24px;
    margin-top: 15px;
    width: 522px;
    height: 72px;
}
.design_subtext{
    font-size: 17px;
    line-height: 24px;
    margin-top: 47px;
}
.design_pre-text{
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FF7843;
}
.designer-text{
    margin-top: 73px;
    width: 588px;
    height: 280px;
    background: url('../img/background-tools.jpg') no-repeat;
}
.desiner-words{
    padding: 41px 60px 23px 32px;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 0;
}
.desiner-name{
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
    padding-left: 32px;
}
.collaborate-info{
    width: 1440px;
    height: 480px;
    background: url(../img/background-collaborate.jpg) no-repeat;
    display: flex;
    margin-bottom: 24px;
}
.collaborate_image{
    margin-top: 30px;
}
.collaborate_text-info{
    margin-left: 18px;
    margin-right: 205px;
    margin-top: 127px;
}
.colaborate_pre-title{
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #B2F0EC;
    margin: 0;
}
.collaborate_title{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 36px;
}
.collaborate_text{
    font-size: 17px;
    line-height: 24px;
    color: rgba(33, 33, 35, 0.7);
    margin: 0;
}
.collaborate_subtext{
    margin-top: 23px;
}
.collaborate_column{
    width: 588px;
    height: 611px;
}
.collaborate_columns{
    display: flex;
    justify-content: space-between;
}
.column-first{
    background: url('../img/bg-engineer.jpg') no-repeat;
}
.engineer{
    padding: 163px 45px 160px 32px;
}
.engineer-text{
    font-size: 24px;
    line-height: 32px;
}
.engineer-name, .engineer-prof{
    font-size: 17px;
    line-height: 24px;
}
.engineer-prof{
    width: 372px;
    margin: 0;
}
.engineer-name{
    margin-top: 54px;
    margin-bottom: 0;
}
.workspace{
    padding-left: 32px;
}
.workspace_image{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.workspace_pre-title{
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #3FB2A5;
    margin-top: 39px;
    margin-bottom: 15px;
}
.workspace_title{
    font-size: 32px;
    line-height: 36px;
    margin: 0;
    width: 394px;
}
.workspace_text{
    font-size: 17px;
    line-height: 24px;
    color: rgba(33, 33, 35, 0.7);
    margin-top: 15px;
    margin-bottom: 23px;
    width: 522px;
}
.workspace_subtext{
    font-size: 17px;
    line-height: 24px;
    margin: 0;
}
.design-systems-info{
    width: 1440px;
    height: 480px;
    background: url(../img/bgc-design-system.png) no-repeat;
    display: flex;
    margin-bottom: 24px;
}
.developer{
    padding: 151px 55px 151px 32px;
}
.developer-text{
    font-size: 24px;
    line-height: 32px;
}
.developer-name, .developer-prof{
    font-size: 17px;
    line-height: 24px;
}
.developer-prof{
    width: 265px;
    margin: 0;
}
.developer-name{
    margin-top: 23px;
    margin-bottom: 0;
}
.column-second{
    background: url('../img/bgc-desiner.png') no-repeat;
}
.handoff_words-block{
    padding-left: 32px;
}
.handoff_pre-title{
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color:#F5A925;
    margin-top: 39px;
    margin-bottom: 15px;
}
.handoff_title{
    font-size: 32px;
    line-height: 36px;
    margin: 0;
    width: 354px;
}
.handoff_text{
    font-size: 17px;
    line-height: 24px;
    color: rgba(33, 33, 35, 0.7);
    margin-top: 15px;
    margin-bottom: 22px;
    width: 501px;
}
.handoff_subtext{
    font-size: 17px;
    line-height: 24px;
    margin: 0;
}
.design-systems_image{
    margin-top: 54px;
}
.design-systems_text-info{
    margin-left: 148px;
    margin-right: 12px;
    margin-top: 127px;
}
.design-systems_pre-title{
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #8D5F10;
    margin: 0;
}
.design-systems_title{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 36px;
}
.design-systems_text{
    font-size: 17px;
    line-height: 24px;
    color: rgba(33, 33, 35, 0.7);
    margin: 0;
}
.design-systems_subtext{
    margin-top: 23px;
}
.extensions_pre-title{
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color:#A060AE;
    margin-top: 39px;
    margin-bottom: 15px;
}
.extensions_title{
    font-size: 32px;
    line-height: 36px;
    margin: 0;
    width: 354px;
}
.extensions_text{
    font-size: 17px;
    line-height: 24px;
    color: rgba(33, 33, 35, 0.7);
    margin-top: 15px;
    margin-bottom: 22px;
    width: 566px;
}
.extensions_subtext{
    font-size: 17px;
    line-height: 24px;
    margin: 0;
}
.extensions-block{
    margin-left: 152px;
    margin-top: 119px;
}
.extensions-images{
    margin-top: 312px;
    padding-left: 64px;
}
.extensions-image:not(:last-child){
    margin-right: 124px;
    width: 96px;
    height: 96px;
}
.last-news_title{
    margin-top: 167px;
}
.news-cards{
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.card{
    width: 386px;
}
.card-link{
    text-decoration: none;
    cursor: pointer;
}
.card-title{
    width: 376px;
    font-size: 20px;
    line-height: 26px;
    color: #212123;
}
.card-text{
    font-size: 16px;
    line-height: 16px;
    color: rgba(33, 33, 35, 0.7);
}
.start-wrapper{
    background: url('../img/bgc-start.jpg') no-repeat;
    height: 610px;
}
.start_main-title{
    font-size: 48px;
    line-height: 50px;
}
.start_description{
    font-size: 24px;
    line-height: 33px;
}
.button-trial{
    background-color: #000;
    color: white;
}
.start-content{
    padding-top: 128px;
    padding-left: 200px;
}
.links-block a{
    text-decoration: none;
}
.footer{
  
    margin-top: 96px;
    padding-top: 28px;
}
.footer_content{
    position: relative;
}
.subscribe-block{
    display: flex;
    justify-content: space-between;
}
.subscribe-text{
    margin-top: 50px;
}
.subscribe-input{
    margin-top: 32px;
    margin-bottom: 71px;
}
hr{
    position: absolute;
    left: 0%;
    right: 0%;
    height: 1px;
    top: 125px;
    background: rgba(0, 0, 0, 0.1);
}
.subscribe-panel{
    height: 50px;
    border-radius: 5px;
    display: flex;

}
.email-input{
    width: 554px;
    height: 50px;
    background:#F9F9F9;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px 0px 0px 6px;
}
.button_subscribe{
    padding: 13px 14px;
    background-color: #000;
    color: #FFFFFF;
    border-radius: 0px 6px 6px 0px;
    border: 2px solid #000;
}
.checkbox{
    background: #FFFFFF;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.checkbox-text{
    margin-left: 13px;
}
.footer-text1{
    opacity: 0.85;
    margin: 0;
}
.footer-text2{
    opacity: 0.7;
    margin: 0;
}
.footer-text3{
    opacity: 0.55;
    text-decoration: none;
    color: inherit;
}
.copyrigth{
    text-align: center;
    margin-top: 38px;
}
table{
    table-layout: fixed;
    width: 100%;
}
td:not(:last-child), th{
    padding-bottom: 12px;
}
th{
    text-align: start;
}
thead th:nth-child(1) {
    width: 15%;
  }
  
  thead th:nth-child(2) {
    width: 15%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 22%;
  }
  thead th:nth-child(5) {
    width: 18%;
  }
  thead th:nth-child(6) {
    width: 9%;
  }
  